@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}
i {
  font-size: 75px;
}
.red {
  color: red;
}
h1 {
  font-size: 100px;
}
.card {
  width: 200px;
  height: 275px;
  border: 2px solid black;
  display: grid;
  grid-template-rows: 33% 34% 33%;
}
.tituloBubble,
.tituloSelection {
  display: none;
  color: white;
}
.down {
  transform: rotate(180deg);
}
